In [40]:
import pandas as pd

# Load your retail shop dataset
retail_data = pd.read_csv('retail_data.csv')

# List of 38 districts in Tamil Nadu
districts = [
    "Ariyalur", "Chengalpattu", "Chennai", "Coimbatore", "Cuddalore",
    "Dharmapuri", "Dindigul", "Erode", "Kallakurichi", "Kancheepuram",
    "Karur", "Krishnagiri", "Madurai", "Mayiladuthurai", "Nagapattinam",
    "Kanyakumari", "Namakkal", "Perambalur", "Pudukottai",
    "Ramanathapuram", "Ranipet", "Salem", "Sivaganga", "Tenkasi",
    "Thanjavur", "Theni", "Thiruvallur", "Thiruvarur", "Thoothukudi",
    "Tiruchirappalli", "Tirunelveli", "Tirupathur", "Tiruppur",
    "Tiruvannamalai", "The Nilgiris", "Vellore", "Viluppuram",
    "Virudhunagar"
]

# Create a DataFrame for the districts
districts_df = pd.DataFrame({'District': districts})

# Set the year you want to analyze
year = 2024  # Change this for different years

# Filter the data for the selected year
year_data = retail_data[retail_data['Year'] == year]

# Group by district and calculate the required counts
results = year_data.groupby('District').agg(
    Total_Sample=('PPM', 'count'),
    Zero_PPM=('PPM', lambda x: (x == 0).sum()),
    One_to_Five_PPM=('PPM', lambda x: ((x >= 1) & (x <= 5)).sum()),
    Five_to_Fourteen_NinetyNine_PPM=('PPM', lambda x: ((x > 5) & (x < 15)).sum()),
    Fifteen_and_Above_PPM=('PPM', lambda x: (x >= 15).sum())
).reset_index()

# Merge with districts_df to ensure all districts are included
merged_results = pd.merge(districts_df, results, on='District', how='left')

# Fill NaN values with 0 for the counts
merged_results.fillna({'Total_Sample': 0, 'Zero_PPM': 0, 'One_to_Five_PPM': 0, 'Five_to_Fourteen_NinetyNine_PPM': 0, 'Fifteen_and_Above_PPM': 0}, inplace=True)

# Convert all count columns to integer type
merged_results[['Total_Sample', 'Zero_PPM', 'One_to_Five_PPM', 'Five_to_Fourteen_NinetyNine_PPM', 'Fifteen_and_Above_PPM']] = merged_results[['Total_Sample', 'Zero_PPM', 'One_to_Five_PPM', 'Five_to_Fourteen_NinetyNine_PPM', 'Fifteen_and_Above_PPM']].astype(int)

# Display the merged results
print(merged_results)

# Optionally, save the results to an Excel file
merged_results.to_excel(f'retail_report_{year}.xlsx', index=False)

           District  Total_Sample  Zero_PPM  One_to_Five_PPM  \
0          Ariyalur            26         0                0
1      Chengalpattu            27         0                0
2           Chennai             0         0                0
3        Coimbatore            14         0                0
4         Cuddalore            21         0                0
5        Dharmapuri            30         0                0
6          Dindigul            55         0                0
7             Erode            30         0                0
8      Kallakurichi             0         0                0
9      Kancheepuram             0         0                0
10            Karur            29         0                0
11      Krishnagiri            27         0                0
12          Madurai            30         0                0
13   Mayiladuthurai            36         0                0
14     Nagapattinam            30         0                0
15      Kanyakumari             0         0                0
16         Namakkal            40         0                0
17       Perambalur            40         0                0
18       Pudukottai            78         0                0
19   Ramanathapuram           104         0                0
20          Ranipet            30         1                0
21            Salem            69         0                0
22        Sivaganga            39         0                0
23          Tenkasi            11         0                0
24        Thanjavur            40         0                0
25            Theni            33         0                0
26      Thiruvallur             0         0                0
27       Thiruvarur             0         0                0
28      Thoothukudi             0         0                0
29  Tiruchirappalli             0         0                0
30      Tirunelveli            30         0                0
31       Tirupathur             0         0                0
32         Tiruppur            28         0                0
33   Tiruvannamalai            57         0                0
34     The Nilgiris            31         0                0
35          Vellore            25         0                0
36       Viluppuram             0         0                0
37     Virudhunagar            56         0                0

    Five_to_Fourteen_NinetyNine_PPM  Fifteen_and_Above_PPM
0                                 1                     25
1                                 2                     25
2                                 0                      0
3                                 0                     14
4                                 0                     21
5                                 1                     29
6                                 1                     54
7                                 1                     29
8                                 0                      0
9                                 0                      0
10                                3                     26
11                                0                     27
12                                3                     27
13                                1                     35
14                                2                     28
15                                0                      0
16                                3                     37
17                                4                     36
18                                1                     77
19                                0                    104
20                                1                     28
21                                2                     67
22                                4                     35
23                                1                     10
24                                0                     40
25                                3                     30
26                                0                      0
27                                0                      0
28                                0                      0
29                                0                      0
30                                3                     27
31                                0                      0
32                                1                     27
33                                2                     55
34                                2                     29
35                                0                     25
36                                0                      0
37                                1                     55

In [43]:
import pandas as pd

# Load the salt brand study data
salt_data = pd.read_csv('Brand Study Data.csv')

# Group by Brand and Type of Salt, and calculate required counts
brand_performance = salt_data.groupby(['Brand', 'Salt Type']).agg(
    Number_of_Samples_Collected=('PPM', 'count'),
    Zero_ppm=('PPM', lambda x: (x == 0).sum()),
    Zero_to_5_ppm=('PPM', lambda x: ((x > 0) & (x <= 5)).sum()),
    Five_to_14_9_ppm=('PPM', lambda x: ((x > 5) & (x < 15)).sum()),
    Above_15_ppm=('PPM', lambda x: (x >= 15).sum())
).reset_index()

# Create S No column
brand_performance.insert(0, 'S No', range(1, 1 + len(brand_performance)))

# Display the final DataFrame
print(brand_performance)

# Optionally, save the results to an Excel file
brand_performance.to_excel('brand_performance.xlsx', index=False)

      S No        Brand Salt Type  Number_of_Samples_Collected  Zero_ppm  \
0        1   AASHIRVAAD   Refined                            1         0
1        2         Anna   Crystal                            1         1
2        3         Anna    Powder                            1         0
3        4    Annapurna   Refined                            1         0
4        5   Annapurna    Refined                            1         0
...    ...          ...       ...                          ...       ...
4938  4939   white rose   Crystal                            1         0
4939  4940      winners   Refined                            1         0
4940  4941        xcell   Crystal                            3         1
4941  4942    yart salt   Crystal                            2         0
4942  4943    yart salt    Powder                            1         0

      Zero_to_5_ppm  Five_to_14_9_ppm  Above_15_ppm
0                 0                 0             1
1                 0                 0             0
2                 0                 0             1
3                 0                 0             1
4                 0                 0             1
...             ...               ...           ...
4938              0                 1             0
4939              0                 1             0
4940              0                 1             1
4941              0                 0             2
4942              0                 0             1

[4943 rows x 8 columns]